<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-site-verification" content="JrywzhHu_lykmprlOZGqoqoEaFHsI_FgCiRmfJW7_LA"/>
  <meta property="og:site_name" content="石锤 App - 新闻持续跟踪">
  <link rel="icon" th:href="@{/img/timg.jpg}">
  <link rel="apple-touch-icon" th:href="@{/img/timg.jpg}"/>
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <script th:src="@{/js/feather.min.js}" ></script>

  <title>石锤~您的资讯专家 </title>
  <meta name="description" content="持续追踪热点新闻事件"/>
  <link rel="stylesheet" th:href="@{/css/app.css}">
  </head>
  <body class=" route-home ">
    <nav id="app-nav">
    <div class="container d-flex align-items-center">
      <a th:href="@{/hammer}" class="branding">
        石锤
        <small class="hidden-xs">beta</small>
      </a>
      <ul>
      <li class="active">
        <a th:href="@{/hammer}">
          <i data-feather="home"></i>
          <span> 首页 </span>
        </a>
      </li>

      <li >
        <a th:href="@{/lives}">
          <i data-feather="hash"></i>
          <span class="hidden-xs"> Live </span>
        </a>
      </li>

      <li >
        <a th:href="@{/story}">
          <i data-feather="file-text"></i>
          <span class="hidden-xs"> 专栏 </span>
        </a>
      </li>

      <li >
        <a th:href="@{/search}">
          <i data-feather="search"></i>
          <span class="hidden-xs"> 搜索 </span>
        </a>
      </li>
    </ul>

    </div>
    </nav>

    <div class="container">
      <section class="list-container new-lives">
        <h2> 时事新闻
          <a th:href="@{/lives}" class="more">
            <i data-feather="arrow-right-circle"></i>
          </a>
        </h2>

        <div class="list">
          <div class="list-item live-item" th:each="lives:${indexlives}">
            <h3>
              <a th:href="@{'/lives/info/'+${lives.getLives_id()}}"
                 th:text="${lives.getLives_title()}">
                新闻标题</a>
            </h3>
            <blockquote>
              <img th:src="@{/img/澎湃新闻.jpg}"  alt="" width="40" height="40">
              <p>
                <a th:href="@{'/lives/info/'+${lives.getLives_id()}}">
                  <time th:text="${lives.getFormatTime()}">新闻日期</time>
                  <span th:text="${lives.getDetails().get(0).getTitle()}"></span>
                <cite th:text="${lives.getDetails().get(0).getName()}">
                  新闻来源
                </cite>
                </a>
              </p>
            </blockquote>

            <footer>
              <div class="badge">
                <i data-feather="activity"></i>
                <span th:text="${'新闻数量:'+lives.getLives_count()}"></span>
              </div>
            </footer>
          </div>
        </div>
      </section>

      <section class="list-container new-events">

        <h2>故事化专栏
          <a th:href="@{/story}" class="more">
            <i data-feather="arrow-right-circle"></i>
          </a>
        </h2>
        <div class="list">
          <div class="list-item event-item" th:each="story:${storylist}">
            <h3>
              <a th:href="@{'/story/info/'+${story.getStory_id()}}"
                 th:text="${story.getStory_title()}">
                故事化新闻一
              </a>
            </h3>
            <p class="summary" th:text="${story.getIntroduction()}">
              故事化新闻一内容
            </p>

            <footer>
              <div class="badge">
                <i data-feather="activity" ></i>
                <span th:text="${story.getTags()}">新闻标签</span>
              </div>
              <div class="badge">
                <i data-feather="user"></i>
                <span th:text="${'关注人数:'+story.getInterest_count()}"></span>
              </div>
              <!--<div class="badge">-->
                <!--<i data-feather="message-square"></i>-->
                <!--？？-->
              <!--</div>-->
            </footer>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
