<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
<title>Open Box CSS More Templates From www.cssmoban.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script type="text/javascript" src="js/jquery-1.7.js"></script>
<script type="text/javascript" src="js/jcarousellite_1.0.1.min.js"></script>
<!--[if IE 6]> <link rel="stylesheet" type="text/css" href="css/ie.css" /> <![endif]-->
<script type="text/javascript">
$(function() {
    $(".gallery").jCarouselLite({
        btnNext: ".next",
        btnPrev: ".prev"
    });时
});
</script>
</head>
<body>

<div id="leftcont">
	<div id="leftimg"><a title="home" href="index.html"><img alt="image description" src="img/timg.jpg" height="200" width="160"/></a></div>
	<div id="menu">
		<ul>
			<li><a title="systemmessage" href="index.html">系统通知</a></li>
			<li><a title="mymessage" href="index.html">我的消息</a></li>
			<li><a title="setmessage" href="index.html">消息设置</a></li>
		</ul>
	</div>
</div>



</body>
</html>